<div class="container-fluid">
  <!-- Margen -->
  <br id="separator" class="mt-5"/>

  <!-- Text -->
  <div class="row text-center mt-2">
    <div class="col">
      <h4>
        Alatorre Avendaño Recursos Corporativos, S.C. nace en 1986 como una sociedad promotora de seguros.
      </h4>
        <br/>
      <h4>
        En la búsqueda de diferentes alternativas de comercialización y con el fin de ampliar sus servicios se crea
        AARCO Agente de Seguros y de Fianzas, S.A. de C.V. que le permite actuar como corredor de seguros y de fianzas
        con las principales Instituciones del ramo establecidas en México.
      </h4>
    </div>
  </div>

  <!-- Images -->
  <div class="row text-center mt-4">
    <div class="col-md-4 mb-3">
      <img src="" alt="" class="img-thumbnail rounded-circle">
      <h1 class="fw-bold mb-4 mt-2">Misión</h1>
      <h4>Atracción y desarrollo de personas.</h4>
    </div>
    <div class="col-md-4 mb-3">
      <img src="" alt="" class="img-thumbnail rounded-circle">
      <h1 class="fw-bold mb-4 mt-2">Visión</h1>
      <h4>Crecimiento.</h4>
    </div>
    <div class="col-md-4 mb-3">
      <img src="" alt="" class="img-thumbnail rounded-circle">
      <h1 class="fw-bold mb-4 mt-2">Filosofía</h1>
      <h4>Servicio.</h4>
    </div>
  </div>
</div>
