<!-- Modal -->

<div class="modal fade" id="contactanos" tabindex="-1" aria-labelledby="contactanosLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">

            <!-- Text Area -->
            <div class="col-12">
              <p class="fs-2">
                Llena el siguiente formulario y uno de nuestros asesores se pondrá en contacto contigo.
              </p>
            </div>

            <!-- Forms -->
            <form [formGroup]="contactForm">

              <!-- Nombre -->
              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label">Nombre:</label>
                  <input type="text" class="form-control" formControlName="nombre">
                  <div *ngIf="fieldInvalid('nombre')" class="form-text text-danger">* Campo requerido</div>
                </div>
              </div>

              <!-- Correo electrónico -->
              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label">Correo electrónico:</label>
                  <input type="text" class="form-control" formControlName="email">
                  <div *ngIf="fieldInvalid('email')" class="form-text text-danger">* Campo requerido</div>
                </div>
              </div>

              <!-- Mensaje -->
              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label">Mensaje:</label>
                  <input type="text" class="form-control" formControlName="mensaje">
                  <div *ngIf="fieldInvalid('mensaje')" class="form-text text-danger">* Campo requerido</div>
                </div>
              </div>

              <!-- Código postal -->
              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label">Código postal:</label>
                  <input type="text"
                         class="form-control"
                         formControlName="cp"
                         [dropSpecialCharacters]="false"
                         mask="00000"
                         (ngModelChange)="getDirection()"
                  >
                  <div *ngIf="fieldInvalid('cp')" class="form-text text-danger">* Solo acepta números, debe contener 5
                    dígitos
                  </div>
                  <div *ngIf="cpIsInvalid" class="form-text text-danger">* Código postal inválido</div>
                </div>
              </div>

              <!-- Select Estado -->
              <div class="col-12 mb-3" *ngIf="showDirectionList">
                <p>Selecciona la colonia:</p>
                <div class="card">
                  <div *ngFor="let direction of directionList">
                    <div class="card-header"
                         [ngClass]="{ 'select-colonia': direction.municipio === contact.municipio }">
                      {{ direction.municipio }}
                    </div>
                    <ul class="list-group list-group-flush pointer">
                      <li *ngFor="let colonia of direction.colonias; let idx = index"
                          class="list-group-item"
                          (click)="setUbicacion(direction, idx)"
                          [ngClass]="{ 'select-colonia': colonia === contact.colonia }"
                      >
                        {{ colonia }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- Estado -->
              <div *ngIf="contactForm.valid" class="col-12">
                <div class="mb-3">
                  <label class="form-label">Estado:</label>
                  <input type="text" class="form-control" [value]="contact.estado" disabled>
                </div>
              </div>

              <!-- Municipio -->
              <div *ngIf="contactForm.valid" class="col-12">
                <div class="mb-3">
                  <label class="form-label">Municipio:</label>
                  <input type="text" class="form-control" [value]="contact.municipio" disabled>
                </div>
              </div>

              <!-- Colonia -->
              <div *ngIf="contactForm.valid" class="col-12">
                <div class="mb-3">
                  <label class="form-label">Colonia:</label>
                  <input type="text" class="form-control" [value]="contact.colonia" disabled>
                </div>
              </div>

            </form>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="reset()">Cancelar</button>
        <button type="button" class="btn bg-azul-oscuro color-white" (click)="sendRequest()"
        >Enviar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="done" tabindex="-1" aria-labelledby="doneLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col text-center">
              <h1>Mensaje enviado</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-azul-oscuro color-white" data-bs-dismiss="modal">
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>
