<main class="container-xxl">
  <div class="row">

    <!-- AUTOS -->
    <div class="col-md-6 p-0 image-container"
         (mouseenter)="mouseenter($event)" (mouseleave)="mouseleave($event)">
      <img src="../../../assets/img/auto.jpg" alt="Imagen de un auto" class="img-responsive">
      <div class="position-absolute top-50 start-50 translate-middle w-100 px-4">
        <span class="color-white mega-text">AUTOS</span>
        <span class="d-none color-white fs-2 fw-bold">
          PROTEGE:
          Los daños o pérdida del automóvil y los daños o perjuicios causados a la propiedad ajena o a terceras
          personas con motivo del uso del automóvil.
        </span>
      </div>
    </div>

    <!-- GASTOS MÉDICOS MAYORES -->
    <div class="col-md-6 p-0 image-container"
         (mouseenter)="mouseenter($event)" (mouseleave)="mouseleave($event)">
      <img src="../../../assets/img/gastos_medicos.jpg" alt="Imagen de un hospital" class="img-responsive">
      <div class="position-absolute top-50 start-50 translate-middle w-100 px-4">
        <span class="color-white mega-text">GASTOS MÉDICOS MAYORES</span>
        <span class="d-none color-white fs-2 fw-bold">
          PROTEGE:

          Los honorarios médicos, hospitalarios y demás que sean necesarios para la recuperación de la salud o vigor
          vital del asegurado, cuando se hayan afectado por causa de un accidente o enfermedad.
        </span>
      </div>
    </div>

    <!-- HOGAR -->
    <div class="col-md-6 p-0 image-container"
         (mouseenter)="mouseenter($event)" (mouseleave)="mouseleave($event)">
      <img src="../../../assets/img/hogar.jpg" alt="Imagen de un hogar" class="img-responsive">
      <div class="position-absolute top-50 start-50 translate-middle w-100 px-4">
        <span class="color-white mega-text">HOGAR</span>
        <span class="d-none color-white fs-2 fw-bold">
          PROTEGE:

          A la vivienda y a sus habitantes contra daños que pudieran sufrir a causa de fenómenos naturales o robo,
          daños que pueda ocasionar una mascota, entre otras cosas.
        </span>
      </div>
    </div>

    <!-- VIDA -->
    <div class="col-md-6 p-0 image-container"
         (mouseenter)="mouseenter($event)" (mouseleave)="mouseleave($event)">
      <img src="../../../assets/img/vida.jpg" alt="Imagen de viaje" class="img-responsive">
      <div class="position-absolute top-50 start-50 translate-middle w-100 px-4">
        <span class="color-white mega-text">VIDA</span>
        <span class="d-none color-white fs-2 fw-bold">
          PROTEGE:

          Es un respaldo económico el cuál su función principal es indemnizar a los beneficiarios designados con una
          suma de dinero en caso del fallecimiento de la persona asegurada.
        </span>
      </div>
    </div>
  </div>
</main>
