// Background Image
.img-auto {
  background-image: url('../../../assets/img/auto.jpg');
}
.img-gastos-medicos {
  background-image: url('../../../assets/img/gastos_medicos.jpg');
}
.img-hogar {
  background-image: url('../../../assets/img/hogar.jpg');
}
.img-vida {
  background-image: url('../../../assets/img/vida.jpg');
}


// Media queries
@media (max-width: 768px) {
  .image-container {
    min-height: 47vh !important;
  }
}


// Containers
.image-container {
  position: relative;
  background-size: cover;
  background-position: center;
  text-align: center;
  max-height: 46.5vh;
}

//Hover styles
.active {
  filter: brightness(50%);
}

.mega-text {
  font-size: 3.5em;
  font-weight: bold;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
