<main class="container-fluid">
  <div class="row">
    <div class="col-md-6 p-0">
      <div class="auto">
        <h1>
          PROTEGE:
          <br/>
          <br/>
          Los daños o pérdida del automóvil y los daños o perjuicios causados a la propiedad ajena o a terceras personas con motivo del uso del automóvil
        </h1>
      </div>
    </div>
    <div class="col-md-6 p-0">
      <img src="../../../assets/img/Mazda_Roadster_MX-5.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-md-6 p-0" style="background-image: url('../../../assets/img/Mazda_Roadster_MX-5.jpg');">
      <!--<div>
        <h1>Autos</h1>
      </div>-->
      <div>
        <h1>
          PROTEGE:
          <br/>
          <br/>
          Los daños o pérdida del automóvil y los daños o perjuicios causados a la propiedad ajena o a terceras personas con motivo del uso del automóvil
        </h1>
      </div>
    </div>
    <div class="col-md-6 p-0" style="background-image: url('../../../assets/img/Mazda_Roadster_MX-5.jpg');">
      <!--<div>
        <h1>Autos</h1>
      </div>-->
      <div>
        <h1>
          PROTEGE:
          <br/>
          <br/>
          Los daños o pérdida del automóvil y los daños o perjuicios causados a la propiedad ajena o a terceras personas con motivo del uso del automóvil
        </h1>
      </div>
    </div>
  </div>
</main>
